PROJECT_HOME = ''
CODE_HOME = ''

REPO = ''

LIGHTTPD_USER =  ('', '', '') #(STAGING, INTERNAL, PRODUCTION)
APACHE_USER =    ('', '', '') #(STAGING, INTERNAL, PRODUCTION)

MYSQL_USER =     ('', '', '')
MYSQL_PASSWORD = ('', '', '')

SERVER =		 ('', '', '')
USER = 			 ('', '', '')
LIGHTTPD_PORTS = ('', '', '')
SUBDOMAIN -      ('', '', '')
APACHE_PORTS =   ('', '', '')
