#!/bin/bash
cd /home/websites/lighttpd/{{PROJECT}}/
if [[ -d /home/websites/lighttpd/{{PROJECT}}]]/site_media/ ]]; then
    echo "Media links exist."
else
    ln -s /home/websites/{{PROJECT}}/{{CODE}}/site_media .
fi

cd /home/websites/{{PROJECT}}
if [[ -d /home/websites/{{PROJECT}}/cache ]]; then
    echo "Cache link exists."
else
    ln -s /home/websites/lighttpd/{{PROJECT}}/cache ./cache
fi

if [[ -d /home/websites/{{PROJECT}}/media ]]; then
    echo "Second media link exists."
else
    ln -s /home/websites/lighttpd/{{PROJECT}}/site_media ./media
fi

cd /home/websites/{{PROJECT}}/logs
if [[ -d /home/websites/{{PROJECT}}/logs/lighttpd ]]; then
    echo "Log links exist."
else
    ln -s /home/websites/lighttpd/{{PROJECT}}/logs ./lighttpd
fi
