PROJECT_HOME = '' #the name of the directory the project will be hosted under
CODE_HOME = '' #the name of the directory the code will be hosted in

REPO_TYPE = '' #one of git, hg, or svn
REPO = ''

#SERVER BASED SETUP INFO
# Each of the following variables consists of a three part tuple, defining
# that variable for each server in STAGING, INTERNAL, and PRODUCTION

LIGHTTPD_USER =  ('', '', '') #The lighty user for the server (e.g. www-data)
APACHE_USER =    ('', '', '') #The apache user for the server (e.g. www-data)
ADMIN = 	 ('', '', '') #The admin email for the apache instance (e.g. webmaster@example.com)

MYSQL_USER =     ('', '', '') #The mysql user for the project
MYSQL_PASSWORD = ('', '', '') #The password for the mysql user on the project

SERVER =		 ('', '', '') #The ip or servername for the server
USER = 			 ('', '', '') #The user for the server
SITE_URL = 		 ('', '', '') #The url the site is hosted at on the server (http://example.com, http://example.com:8080, http://bad.example.com)
APACHE_PORT =    	 ('', '', '') #The port apache is listening on
DJANGO_PROCESS =	 ('', '', '') #The process daemon for the wsgi django handler
OWNER =			 ('', '', '') #The user who should own the site files, logs, etc
GROUP =			 ('', '', '') #The group who should own the site files, logs, etc

